* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", serif;
}

/* ================= common =================== */
a {
    text-decoration: none;
    display: block;
}

.btn {
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 24.5px;
    padding: 0 16px;
    min-width: 112px;
    line-height: 50px;
}

.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}

/* ================= HEADER =================== */
.header.fixed {
    position: sticky;
    top: -28px;
}

.header {
    background-color: rgb(156, 133, 161);
}

header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px 0;
}

.nav ul {
    display: flex;
}

.nav {
    margin-left: auto;
}

.nav a {
    padding: 1.2rem;
    color: #5F5B53;
    padding: 8px 21px;
}

.nav li.active a,
.nav a:hover {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 1px 0px 0px 0px;
    color: #171100;
}

.btn_sign_up {
    background-color: #171100;
}

.header .btn_sign_up {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}